
@{
    ViewData["Title"] = "Penny";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Penny</h1>
        <p>A system for teaching young people about internet safety</p>
    </div>
    <p>Penny facilitates anonymous chat between young people. The system will pair two people and give them the broad objective of "find out what you can about the other person".</p>
    <p>As the chats take place, Penny tracks what the users say and uses AI technologies to alert on interesting things such as requests for name, mentions of addresses and sentiment of the conversation.</p>
    <p>Teachers can analyse the chat threads and use them as a basis of a lesson on how to stay safe online.</p>
    <h2>How to Use</h2>
    <p>Penny is a very simple system to use. All that is needed is a internet connected device (PC, tablet or phone) with a modern browser such as Chrome, Edge, Safari or Firefox.</p>
    <ul>
        <li>Brief the users that they will be asked to enter a 'nickname' ... this should not be their real name; perhaps they could use their parent or siblings name or the name of an actor, musician or character they admire</li>
        <li>Tell the users they will be randomly connected to another user and they should find out what they can about that person</li>
        <li>Direct users to <a href="http://aka.ms/Penny">http://aka.ms/Penny</a> to get started</li>
    </ul>
    <h2>Interesting Event Alerts</h2>
    <p>As users are chatting Penny will record every message and analyse it for interesting events. This analysis includes</p>
    <ul>
        <li>Sentiment Score</li>
        <li>Request address</li>
        <li>Request age</li>
        <li>Request email</li>
        <li>Request a meetup</li>
        <li>Request name</li>
        <li>Request phone number</li>
        <li>Request sex</li>
        <li>Request social media profile</li>
        <li>Mention name</li>
        <li>Mention drugs</li>
        <li>Mention address</li>
        <li>Mention gender</li>
        <li>Mention hobbies</li>
        <li>Mention location</li>
        <li>Mention sexual reference</li>
        <li>Mention age</li>
        <li>Mention date or time</li>
        <li>Mention email address</li>
        <li>Mention phone number</li>
    </ul>
    <p>Interesting events are recored for each message as well as a summary for the chat thread as a whole</p>
    <h2>User Mappings</h2>
    <p>If you wish to ensure that two particular users are paired with each other (still anonymously), you can do this via User Mappings.</p>
    <p>Simply enter two user ‘nicknames’ and make sure the users in question use those ‘nicknames’ when prompted. The users will not know they are talking to each other but you will see their chat via the Teacher Portal</p>
    <h2>Deleting Data</h2>
    <p>Data is securely stored in Microsoft Azure data centers situated in the UK.</p>
    <p>If you wish to delete a particular Chat you can by opening the chat and clicking 'Delete', or you can delete all data by pressing the 'Delete All Data' on the chats screen.</p>
</div>

