{
  "AppSettings": {
    "MessagesTableContainerName": "",
    "StorageConnectionString": "",
    "MappingTableContainerName": "",
    "AlertsTableContainerName": ""
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  }
}
