{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "AzureWebJobsDashboard": "",
    "TableStorageContainerName": "",
    "TableStoragePartitionKey": "",
    "TextAnalyticsApiKey": "",
    "TextAnalyticsApiUrl": "",
    "LuisApiKey": "",
    "LuisApiUrl": ""
  }
}
